@import url('https://fonts.googleapis.com/css?family=Gudea|Shrikhand');

h1 {
  font-family: 'Anton', sans-serif;
  color: rgb(255, 252, 220);
  font-weight: 700;
  font-size: 40px;
}

.header {
  text-decoration: none;
}

span {
  font-weight: 100;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation: navbar 0.75s ease-in;
}

.bar {
  display: flex;
  flex-direction: row;
}

ul>li {
  list-style: none;
  margin: 5px 10px;
  /* background: rgba(0, 0, 0, 0.425); */
  border-radius: 5px;
  padding: 5px;
  font-family: 'Anton', sans-serif;
  font-weight: 700;

}

ul>li:hover {
  background: rgba(0, 0, 0, 0.247);

}

ul>li>.menu {
  color: rgb(255, 252, 220);
  text-decoration: none;
  font-size: 20px;
}

ul>li>.menu:hover {
  cursor: pointer;
  /* color: rgb(255, 241, 87); */
}


.link {
  color: rgb(255, 252, 220);
  font-family: 'Gudea', sans-serif;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.425);
  border-radius: 5px;
  width: 75vw;
  padding: 5px;

}

.link:hover {
  cursor: pointer;
  color: rgb(255, 241, 87);
  background: rgba(0, 0, 0, 0.603);

}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(255, 252, 220);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: url('./img/newgrinds_background.jpg');
}

h3 {
  color: rgb(255, 252, 220);
  font-family: 'Anton', sans-serif;
  font-weight: 700;

}

a{
  color: rgb(144, 248, 255);
  text-decoration: none;

}

.address, .search{
  font-weight: 100;
  color: rgb(255, 252, 220);
}

input{
  background: none;
  color: rgb(255, 252, 220);
  border: none;
  border-bottom: 1px solid rgb(255, 252, 220);
  
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}





@keyframes navbar {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.list {
  animation: slide 0.5s ease-in;

}